h1 {  
 font-size:25px;     
 color: black; 
 text-align: center;
}
h2 {  
 font-size:25px;     
  color: black;  
  text-align: center;
}
h3 {  
 font-size:25px;     
  color: black; 
  text-align: center;
}
h4 {  
 font-size:25px;     
    color: black; 
    text-align: center;
} 
h5 {  
 font-size:25px;     
   color: black; 
 text-align: center;  
}
h6 {  
 font-size:25px;     
   color: black; 
 text-align: center;  
} 
h7{  
 font-size:25px;     
  color: black   
}
h8 {  
 font-size:25px;     
  color: black; 
  text-align: center;
} 
h9 {  
 font-size:25px;     
  color: black; 
  text-align: center;
}
